<div class="flex flex-col w-full sm:flex-row gap-3">
  <div>
    <p>Use the controls to below to manipulate the timer.  The right-most button will toggle between interval and timeout modes.</p>
    <div class="flex flex-row gap-2">
      <button type="button" class="btn btn-secondary join-item" (click)="toggleMode()">{{ $mode() }} Mode</button>
      <div class="join gap-0">
        <button type="button" class="btn btn-primary join-item" (click)="$timer().pause()" [disabled]="$timer().state() !== 'running'">Pause</button>
        <button type="button" class="btn btn-primary join-item" (click)="$timer().resume()" [disabled]="$timer().state() !== 'paused'">Resume</button>
        <button type="button" class="btn btn-primary join-item" (click)="$timer().restart()">Restart</button>
      </div>
    </div>
  </div>
  <div class="flex-grow w-full">
    <div>
      <label for="timeoutRange" class="label">Timeout Time: {{$timeoutRange()}}</label>
      <input id="timeoutRange" class="range range-primary" type="range" min="0" max="10000" [(ngModel)]="$timeoutRange" />
    </div>
    <div>
      <label for="intervalRange" class="label" >Interval Time: {{$intervalRange()}}</label>
      <input id="intervalRange" class="range" type="range" min="0" max="10000" [(ngModel)]="$intervalRange"
        [ngClass]="$mode() === 'interval' ? 'range-primary' : 'range-accent'"
        [disabled]="$mode() === 'timeout'" />
    </div>
  </div>
</div>
<div class="flex flex-col w-full sm:flex-row gap-3 pt-3">
  <div class="flex-grow card card-compact shadow-lg bg-base-100">
    <div class="card-body flex flex-col items-center">
      <div>Ticks since Restart</div>
      <div class="h-7 text-lg">{{$timer()()}}</div>
    </div>
  </div>
  <div class="flex-grow card card-compact shadow-lg bg-base-100">
    <div class="card-body flex flex-col items-center">
      <div>Total Ticks</div>
      <div class="h-7 text-lg">{{$executions()}}</div>
    </div>
  </div>
</div>
