<div class="flex flex-col gap-3">
  <div class="flex flex-row items-baseline gap-3">
    Monitor clicks from:
    <select class="select select-bordered select-sm" [ngModel]="$active()" (ngModelChange)="$selected.set($event)">
      @for (btn of $buttons(); track btn) {
        <option [ngValue]="btn">{{btn.nativeElement.innerText}}</option>
      }
    </select>
  </div>
  <div class="flex gap-2">
    <button type="button" class="btn btn-sm" [ngClass]="{ 'btn-primary': $active().nativeElement === btn1 }" #btn #btn1>Button 1</button>
    <button type="button" class="btn btn-sm" [ngClass]="{ 'btn-primary': $active().nativeElement === btn2 }" #btn #btn2>Button 2</button>
    <button type="button" class="btn btn-sm" [ngClass]="{ 'btn-primary': $active().nativeElement === btn3 }" #btn #btn3>Button 3</button>
  </div>
  <div>
    {{$lastEvent()}}
  </div>
</div>
