<div class="flex flex-row flex-wrap-reverse">
  <div class="pr-3">
    <label class="label">Input Value</label>
    <input class="input" type="text" [ngModel]="$inputText()" (ngModelChange)="$inputText.set($event)" />
  </div>
  <div class="w-48">
    <label class="label">Debounce Time: {{$debounceTime()}}</label>
    <input class="range range-primary" type="range" min="0" max="10000" [ngModel]="$debounceTime()"
      (ngModelChange)="$debounceTime.set($event)" />
  </div>
</div>
<div>
  <div class="text-secondary">Current Value: {{$inputText() || '(no value)'}}</div>
  <div class="text-secondary">Debounced Value: {{$debouncedText() || '(no value)'}}</div>
</div>
