<div class="flex flex-row gap-3 items-center pb-3">
  <span>Easing Function</span>
  <app-easing-selector [(easingFn)]="$easingFn" (easingFnChange)="$sliderValue.setOptions({ easing: $easingFn() })" />
</div>
<div class="flex flex-col w-full sm:flex-row items-center gap-3">
  <div class="flex-none">
    <div class="join">
      <button type="button" class="btn btn-primary join-item" (click)="$sliderValue.set(0)">0%</button>
      <button type="button" class="btn btn-primary join-item" (click)="$sliderValue.set(50)">50%</button>
      <button type="button" class="btn btn-primary join-item" (click)="$sliderValue.set(100)">100%</button>
    </div>
  </div>
  <div>
    <input class="range range-primary" type="range" [value]="$sliderValue()" min="0" max="100" step=".0001" />
  </div>
</div>
