<div class="flex flex-row flex-wrap-reverse gap-3">
  <div>
    <label for="inputText" class="label">Input Value</label>
    <input id="inputText" class="input" type="text" [(ngModel)]="$directDebounced" />
  </div>
  <div class="w-48">
    <label for="debounceTime" class="label">Debounce Time: {{$debounceTime()}}</label>
    <input id="debounceTime" class="range range-primary" type="range" min="0" max="10000" [(ngModel)]="$debounceTime" />
  </div>
</div>
<div>
  <div class="text-secondary">Current Value: {{$directDebounced() || '(no value)'}}</div>
</div>
