<div class="flex flex-row flex-wrap gap-3">
  <input class="input" class="input input-bordered input-sm shrink grow min-w-10" type="text" #textInput placeholder="Say something" />
  <div class="join">
    <button type="button" class="btn btn-primary btn-sm join-item" (click)="$voice.whisper(textInput.value)">Whisper</button>
    <button type="button" class="btn btn-primary btn-sm join-item" (click)="$voice.yell(textInput.value)">Yell</button>
    <button type="button" class="btn btn-primary btn-sm join-item" (click)="$voice.clear()">Clear</button>
  </div>
</div>
<div class="flex flex-row pt-3">
  <label class="label">Result</label>
  <div class="grow py-2 px-4 border border-base-300 rounded-lg bg-base-100">{{$voice() || '(no value)'}}</div>
</div>

