<div class="flex flex-col gap-3">
  <div class="join">
    <button type="button" class="btn btn-primary join-item" (click)="$numbers.push(randomNumber())">Push</button>
    <button type="button" class="btn btn-primary join-item" (click)="$numbers.pop()">Pop</button>
    <button type="button" class="btn btn-primary join-item" (click)="$numbers.shift()">Shift</button>
    <button type="button" class="btn btn-primary join-item"
      (click)="$numbers.concat([randomNumber(), randomNumber()])">Concat</button>
  </div>
  <div class="flex flex-row gap-3 items-center">
    <div class="label">Array Value</div>
    {{$numbers() | json}}
  </div>
</div>
